<h1>about</h1>

<h1>jQuery稼働テスト(未稼働)</h1>
<div>
    <%= image_tag("unclicked.png", :id => "black", :size =>'30x30')%>
    <span>==素晴らしいチャレンジにチーズをあげよう！ ==></span>
    <%= image_tag("clicked.png", :id => "yellow", :size =>'30x30')%>
  <div id = "cheese" >
    <hr>
    <%= image_tag("unclicked.png", :id => "black0", :data => { :cheese_index => "0" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black1", :data => { :cheese_index => "1" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black2", :data => { :cheese_index => "2" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black3", :data => { :cheese_index => "3" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black4", :data => { :cheese_index => "4" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black5", :data => { :cheese_index => "5" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black6", :data => { :cheese_index => "6" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black7", :data => { :cheese_index => "7" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black8", :data => { :cheese_index => "8" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :id => "black9", :data => { :cheese_index => "9" }, :class => "blacks", :size =>'60x60') %>
  </div>
</div>


<script type="text/javascript">

  // $(document).ready(function() {
  //   $("h1").text("jQuery稼働テスト(稼働中)");
  // });

  const blackSrc = $("#black")[0].currentSrc
  const yellowSrc = $("#yellow")[0].currentSrc
  let nowYellow = -1
  // let imagearray = [$('#black0'), $('#black1')]
  // var black = document.getElementById(imagearray);

  $(".blacks").click(function(){
    const index = $(this).data("cheeseIndex")
    if(index > nowYellow ){
      for(let i = 0; i <= index; i++){
        $(`#cheese img[data-cheese-index=${i}]`).attr('src', yellowSrc);
      }
    }else{
      for(let i = index + 1; i <= 9 ; i++){
        $(`#cheese img[data-cheese-index=${i}]`).attr('src', blackSrc);
      }
    };
    nowYellow = index
  });

</script>


