<hr>
<h3>あなたが今までに達成した目標はこちら！</h3>
<hr>
<p>1分のチャレンジ <%= @goals.where(limit_time: "limit1m" ).count %>個</p>
<p>8時間のチャレンジ <%= @goals.where(limit_time: "limit8h" ).count %>個</p>
<p>24時間のチャレンジ <%= @goals.where(limit_time: "limit1d" ).count %>個</p>
<p>3日間のチャレンジ <%= @goals.where(limit_time: "limit3d" ).count %>個</p>
<p>1週間のチャレンジ <%= @goals.where(limit_time: "limit1w" ).count %>個</p>
<p>5秒間のチャレンジ <%= @goals.where(limit_time: "limit5s" ).count %>個</p>
<hr>

<% @goals.each do |goal| %>
    <%= link_to user_goal_path(goal.user.id, goal.id) do %>
        <%= "「" + goal.title + "」" %>
        <%= "期間 "+ goal.limit_time_i18n %>
        <%= goal.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <% end %>
    <hr>
<% end %>
