<h2>ユーザー情報編集</h2>

<<<<<<< HEAD
<%= form_for(@user) do |f| %>
=======
 <%= form_for(@user) do |f| %>
>>>>>>> 51c8b7caa4db576be8804b010aeed8a83be46a3c
    <%= f.label :name %>
    <%= f.text_field :name %>
    <hr>
    <%= f.label :"自己紹介" %>
    <%= f.text_area :profile_text %>
    <hr>
    <%= f.label :"プロフィール画像"%>
    <%= f.file_field :image %>
    <hr>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %> 
<% end %>
