<% if flash[:notice] %>
    <hr>
    <div class="flash">
        <%= flash[:notice] %>
    </div>
    <hr>
<% end %>
<h3>ユーザー情報</h3>

<% if @user.image? %>
    <%= image_tag @user.image.url %>
<% end %>
<%= @user.name + "さん" %>
<hr>
<p>自己紹介</p>
<%= @user.profile_text %>
<hr>
<p>今までに達成したチャレンジ</p>
<p>1分のチャレンジ <%= @user.goals.where(limit_time: "limit1m" ).count %>個</p>
<p>8時間のチャレンジ <%= @user.goals.where(limit_time: "limit8h" ).count %>個</p>
<p>24時間のチャレンジ <%= @user.goals.where(limit_time: "limit1d" ).count %>個</p>
<p>3日間のチャレンジ <%= @user.goals.where(limit_time: "limit3d" ).count %>個</p>
<p>1週間のチャレンジ <%= @user.goals.where(limit_time: "limit1w" ).count %>個</p>
<hr>
<%= "総獲得チーズ数 " + @user.goals.joins(:rates).where(published: true).sum(:quantity).to_s + "個" %>
<hr>
<% if user_signed_in? && current_user == @user %>
    <%= link_to"ユーザー情報編集", edit_user_path %>
    <hr>
<% end %>
<%= link_to"挑戦中のチャレンジ一覧", trying_list_user_path %>
<hr>
<%= link_to"達成したチャレンジ一覧", achieved_list_user_path %>
<hr>
<%= link_to"達成できなかったチャレンジ一覧", failed_list_user_path %>
<div class="contents">
<canvas id="myChart"></canvas>

</div>
<hr>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["1分間", "８時間", "24時間", "3日間", "7日間"],
        datasets: [{
            label: '達成したチャレンジ数',
            data: [
                <%= @user.goals.where(limit_time: "limit1m" ).count %>,
                <%= @user.goals.where(limit_time: "limit8h" ).count %>,
                <%= @user.goals.where(limit_time: "limit1d" ).count %>,
                <%= @user.goals.where(limit_time: "limit3d" ).count %>,
                <%= @user.goals.where(limit_time: "limit1w" ).count %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var w = $('.contents').width();
var h = $('.contents').height();
$('#rader_result').attr('width', w);
$('#rader_result').attr('height', h);
</script>

<style>
.contents{
    width: 90%;
    height: 100%;
}
</style>
