<h3>ユーザー情報</h3>

<% if @user.image? %>
    <%= image_tag @user.image.url %>
<% end %>
<%= @user.name + "さん" %>
<hr>
<p>自己紹介</p>
<%= @user.profile_text %>
<hr>
<p>今までに達成したチャレンジ</p>
<p>1分のチャレンジ <%= @user.goals.where(limit_time: "limit1m" ).where(status: "achieved" ).count %>個</p>
<p>8時間のチャレンジ <%= @user.goals.where(limit_time: "limit8h" ).where(status: "achieved" ).count %>個</p>
<p>24時間のチャレンジ <%= @user.goals.where(limit_time: "limit1d" ).where(status: "achieved" ).count %>個</p>
<p>3日間のチャレンジ <%= @user.goals.where(limit_time: "limit3d" ).where(status: "achieved" ).count %>個</p>
<p>1週間のチャレンジ <%= @user.goals.where(limit_time: "limit1w" ).where(status: "achieved" ).count %>個</p>
<hr>
<%= "総獲得チーズ数 " + @user.goals.joins(:rates).where(published: true).sum(:quantity).to_s + "個" %>
<hr>
<%# 本人のみプロフィール編集へのリンク表示 %>
<% if user_signed_in? && current_user == @user %>
    <%= link_to"ユーザー情報編集", edit_user_path %>
    <hr>
    <% if @user.default_published == true %>
        <%= "現在、新しく作成したチャレンジはすべて公開される設定になっています。" %>
    <% else %>
        <%= "現在、新しく作成したチャレンジはすべて非公開にする設定になっています。非公開中のチャレンジの獲得チーズ数はランキングにカウントされません" %>
    <% end %>

    <%# チャレンジの公開、非公開のデフォルト設定を切り替える処理 %>
    <%= form_for @user, url: user_change_default_published_path(current_user),method: "patch" do  |f| %>
        <% if @user.default_published == true %>
            <%= f.hidden_field :default_published, :value => 0 %>
            <%= f.submit "チャレンジをデフォルトで非公開にする", class: "btn-lg btn-base-1 mt-20" %>
        <% else %>
            <%= f.hidden_field :default_published, :value => 1 %>
            <%= f.submit "チャレンジをデフォルトで公開する", class: "btn-lg btn-base-1 mt-20" %>
        <% end %>
    <% end %>
    <hr>
    <%# メールの受け取り設定を切り替える処理 %>
    <p>3日、または７日間のチャレンジを行う場合は、期限が迫った際にご確認のメールを送信しています。<p>
    <% if @user.accept_recieving_email == true %>
        <%= "現在、メールを受け取る設定になっています。設定を変更するには以下のボタンをクリックしてください。"%>
    <% else %>
        <%= "現在、メールの送信を受け取らない設定になってています。設定を変更するには以下のボタンをクリックしてください。"%>
    <% end %>

    <%= form_for @user, url: user_change_accept_email_path(current_user),method: "patch" do  |f| %>
        <% if @user.accept_recieving_email == true %>
            <%= f.hidden_field :accept_recieving_email, :value => 0 %>
            <%= f.submit "１週間の挑戦期間中にメールを受け取らない", class: "btn-lg btn-base-1 mt-20" %>
        <% else %>
            <%= f.hidden_field :accept_recieving_email, :value => 1 %>
            <%= f.submit "１週間の挑戦期間中にメールを受け取る", class: "btn-lg btn-base-1 mt-20" %>
        <% end %>
    <% end %>
<% end %>

<hr>
<%= link_to"挑戦中のチャレンジ一覧", trying_list_user_path %>
<hr>
<%= link_to"達成したチャレンジ一覧", achieved_list_user_path %>
<hr>
<%= link_to"達成できなかったチャレンジ一覧", failed_list_user_path %>
<hr>
<h2>達成チャレンジ内訳</h2>
<%# チャートjs %>
<div class="contents">
    <canvas id="myChart"></canvas>
</div>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["1分間", "８時間", "24時間", "3日間", "7日間"],
        datasets: [{
            label: '達成したチャレンジ数',
            data: [
                <%= @user.goals.where(limit_time: "limit1m" ).count %>,
                <%= @user.goals.where(limit_time: "limit8h" ).count %>,
                <%= @user.goals.where(limit_time: "limit1d" ).count %>,
                <%= @user.goals.where(limit_time: "limit3d" ).count %>,
                <%= @user.goals.where(limit_time: "limit1w" ).count %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            // borderWidth: 1
        }]
    },
});
var w = $('.contents').width();
var h = $('.contents').height();
$('#rader_result').attr('width', w);
$('#rader_result').attr('height', h);
</script>

<style>
.contents{
    width: 90%;
    height: 100%;
}
</style>
