<h2>みんなのチャレンジ</h2>
<p>枠に色のついていないチャレンジは継続中のチャレンジです。</p>
<p>達成したチャレンジには、いいねの代わりにチーズを送ることができます。</p>
<p>達成したチャレンジは青い枠線で囲まれているので、ぜひ覗いてチーズを送ってみてください。</p>
<p>達成できなかったチャレンジは赤い枠線で囲まれています。達成できる目標の立て方の参考になるでしょう。</p>
<div class="cp_timeline03">
    <% @goals.each do |goal| %>
        <div class="timeline_group">
            <div class="timeline_item">
                <div class="time">
                    <span class="user-image-circle">
                    <%= link_to user_path(goal.user.id) do %>
                        <% if goal.user.image.present? %>
                            <%= image_tag goal.user.image.url, size:'70x70', class:"rank-user-img" %>
                        <% else %>
                            <%= image_tag "clicked.png", :size => '70x70', class:"rank-user-img" %>
                        <% end %>
                    <% end %>
                    </span>
                </div>
                <%# 達成したチャレンジ、失敗したチャレンジの枠線の色を変える %>
                <% if goal.status == "achieved" %>
                    <div class = "desc" id="achieved-desc">
                <% elsif goal.status == "failed" %>
                    <div class = "desc" id="failed-desc">
                <% else %>
                    <div class="desc">
                <% end %>
                <%= link_to user_goal_path(goal.user.id, goal.id) do %>
                    <p class="flag"><%= "「" + goal.title + "」" %></p>
                <% end %>
                <%= link_to user_path(goal.user.id) do %>
                    <%= goal.user.name + "さん"%>
                <% end %>
                    <%= "投稿日時 " + goal.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                    <%= "期間 " + goal.limit_time_i18n  %>
                    <% if goal.rates.where("quantity > 0 ").sum(:quantity) > 0 %>
                        <%= "獲得チーズ数 " + goal.rates.where("quantity > 0 ").sum(:quantity).to_s + "個" %>
                    <% end %>
                </div>
                <%# 枠線の色を変えるdiv ここまで %>
                <% if user_signed_in? && current_user.admin? %>
                    <%= link_to "削除", user_goal_path(goal.user_id,goal.id), method: :delete,data: { confirm: "本当に削除しますか?" } %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<%= paginate @goals, class: "paginate" %>