<h2>みんなのチャレンジ</h2>
<div>
    <% @goals.each do |goal| %>
        <div>
            <%= link_to user_goal_path(goal.user.id, goal.id) do %>
                <% if goal.user.image.present? %>
                    <%= image_tag goal.user.image.url, size:'100x100' %>
                <% else %>
                    <%= image_tag "no_image.jpeg", :size => '100x100', class:"user_image" %>
                <% end %>
                <span><%= goal.user.name %>さん</span>
                <%= "「" + goal.title + "」" %>
                <%= "投稿日時" + goal.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                <%= "期間" + goal.limit_time_i18n %>
            <% end %>
        </div>
    <% end %>
<div>