<%= form_for(@goal) do |f| %>
    <% if @goal.errors.any? %>
        <h2><%= @goal.errors.count %> 件のエラーが発生しました。</h2>
        <ul>
        <% @goal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    <% end %>
<% end %>
<div class= "new-goal-wrapeer">
    <%= form_for [current_user, @goal] do |f| %>
    <%= f.label :"新しいチャレンジ" %>
    <%= f.text_field :title, size: "100x10" %>
    <hr>
    <%= f.label :"チャレンジの内容を細かく具体的に書いてみましょう" %>
    <%= f.text_area :detail, size: "5x5", class: "form-control"%>
    <hr>


    <%= f.select :limit_time, [['1分後まで',"limit1m"], ['8時間後まで', "limit8h" ], ['１日後まで',"limit1d" ], ['3日後まで',"limit3d" ], ['7日後まで',"limit1w" ]],
    {include_blank: '期限はいつまで？'}, class: 'limit_box' %>

    <%= f.submit "絶対にやり遂げよう！" %>
    <% end %>
</div>