<h2>ベストチャレンジャーランキング</h2>
<% @user_id_and_quantities_arrays.each_with_index do |user_id_and_quantities_array, i| %>
    <% user_id = user_id_and_quantities_array[0] %>
    <% u_quantity = user_id_and_quantities_array[1] %>
    <%#二重配列になって渡ってきているから上の形 %>
    <%= User.find(user_id.to_i).name %>
    <%= "総獲得チーズ" + u_quantity + "個" %>
    <hr>
<% end %>

<h2>歴代ベストチャレンジランキング</h2>
<% @goal_id_and_quantities_arrays.each_with_index do |goal_id_and_quantities_array, i| %>
    <% goal_id = goal_id_and_quantities_array[0] %>
    <% quantity = goal_id_and_quantities_array[1] %>
    <%#二重配列になって渡ってきているから上の形 %>
    <%= "第#{i + 1}位" %>
    <%="「" + Goal.find(goal_id.to_i).title + "」" %>
    <%= Goal.find(goal_id.to_i).user.name %>
    <%= "獲得チーズ" + quantity + "個" %>
    <%= Goal.find(goal_id.to_i).limit_time_i18n %>
    <%= "目標設定日時" + Goal.find(goal_id.to_i).created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <%= link_to"詳細へ", user_goal_path(Goal.find(goal_id.to_i).user, Goal.find(goal_id.to_i)) %>
    <hr>
<% end %>

<%
=begin%>
 <h2>週間チャレンジランキング</h2>
<% @weekly_goal_id_and_quantities_arrays.each_with_index do |weekly_goal_id_and_quantities_array, i| %>
    <% w_goal_id = weekly_goal_id_and_quantities_array[0] %>
    <% w_quantity = weekly_goal_id_and_quantities_array[1] %>
    <%#二重配列になって渡ってきているから上の形 %>
    <%= "第#{i + 1}位" %>
    <%="「" + Goal.find(w_goal_id.to_i).title + "」" %>
    <%= Goal.find(w_goal_id.to_i).user.name %>
    <%= "獲得チーズ" + w_quantity + "個" %>
    <%= Goal.find(w_goal_id.to_i).limit_time_i18n %>
    <%= "目標設定日時" + Goal.find(w_goal_id.to_i).created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <%= link_to"詳細へ", user_goal_path(Goal.find(w_goal_id.to_i).user, Goal.find(w_goal_id.to_i)) %>
    <hr>
<% end %> 
<%
=end%>






