<span class = "ratebox" >
    <%= image_tag("unclicked.png", :data => { :cheese_index => "0" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "1" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "2" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "3" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "4" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "5" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "6" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "7" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "8" }, :class => "blacks", :size =>'60x60') %>
    <%= image_tag("unclicked.png", :data => { :cheese_index => "9" }, :class => "blacks", :size =>'60x60') %>
</span>


